@import "tailwindcss";
@import "react-day-picker/style.css";

* {
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

button[data-testid="button-primary"] {
  border-radius: 999px !important;
}

button[data-action="back"] {
  border-radius: 999px !important;
}

[data-action="primary"] {
  padding: 8px 20px !important;
}

@custom-variant dark (&:where(.dark, .dark *));
